<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/normalice.css">
    <link rel="stylesheet" href="/assets/css/Home.css">
    <title>Home</title>
</head>
<body>
    
    <main class="container-main">
        <div class="left-menu">
            <div class="container-logo--left">
                <a href="#"><img class="logo-left" src="/assets/icons/twitterLogo.svg" alt=""></a>
            </div>
            <div class="menu">
                <ul>
                    <li><span><a href="#"><img class="icon-list" src="/assets/icons/house-user.svg" alt="">Home</a></span></li>
                    <li><span><a href="#"><img class="icon-list" src="/assets/icons/hashtag.svg" alt="">Explore</a></span></li>
                    <li><span><a href="#"><img class="icon-list" src="/assets/icons/bell.svg" alt="">Notifications</a></span></li>
                    <li><span><a href="#"><img class="icon-list" src="/assets/icons/envelope.svg" alt="">Messages</a></span></li>
                    <li><span><a href="#"><img class="icon-list" src="/assets/icons/bookmark.svg" alt="">saved</a></span></li>
                    <li><span><a href="#"><img class="icon-list" src="/assets/icons/list.svg" alt="">Lists</a></span></li>
                    <li><span><a href="#"><img class="icon-list" src="/assets/icons/house-user.svg" alt="">Profile</a></span></li>
                    <li><span><a href="#">... More options</a></span></li>
                </ul>
                    <button class="twittear">Twittear</button>
            </div>
        </div>


        <div class="center-content">

        </div>
        

        <div class=sidebar>

        </div>










    </main>


</body>
</html>