<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/normalice.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Document</title>
</head>

<body>
    <main class="main-container">
        <section class="container-left">
            <img src="/assets/icons/twitterLogo.svg" class="logo" alt="">
        </section>
        <!-- -----------------------container-right------------------------------- -->
        <section class="container-right">
            <div class="container-all">
                <div class="logo-top-left">
                    <img src="/assets/icons/twitterLogo.svg" class="logo-svg" alt="">
                </div>

                <div class="tittle">
                    <h1>Happening now</h1>

                    <h2>Join Twitter today.</h2>
                </div>

                <div class="buttons-register">
                    <button class="btn btn-google"><span><img src="/assets/icons/googleLogo.svg" alt=""></span>Login
                        Google</button>
                    <button class="btn btn-apple"><span> <img src="/assets/icons/AppleLogo.svg" alt=""> </span>Login
                        Apple</button>
                    <button class="btn btn-movil-register">Login with number phone</button>

                    <p>By signing up, you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy
                            Policy</a>, including <a href="#">Cookie Use.</a></a></p>
                </div>

                <div class="account">
                    <h3>Already have an account?</h3>
                    <button type="button" id="myBtn" class="login-btn" data-open="modal1">Sign in</button>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="logo-modal-twitter">

                            </div>

                            <form action="" class="register-modal">

                                <div class="container-input input-modal name">
                                    <input type="text" name="name" id="name" placeholder="Name">
                                </div>

                                <div class="container-input">
                                    <input type="text" name="lastname" id="lastname" placeholder="Last Name">
                                </div>

                                <div class="container-input">
                                    <input type="email" name="email" id="emai" placeholder="E-mail" >
                                </div>

                                <div class="container-input">     
                                    <input type="password" id="password" name="password" placeholder="Password">
                                </div>

                                <div class="container-input">
                                    <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password">
                                </div>

                            </form>
                            <button href="home.html" class="btn-send" type="submit">Register</button>
                        </div>

                    </div>







                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <a href="#">Informatión</a>
        <a href="#">Help Center</a>
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Cookie Policy</a>
        <a href="#">Accessibility</a>
        <a href="#">Add Informatión</a>
        <a href="#">Blog</a>
        <a href="#">Status</a>
        <a href="#">Works</a>
        <a href="#">Resources for Brands</a>
        <a href="#">Advertising</a>
        <a href="#">Marketing</a>
        <a href="#">twitter for Enterprises</a>
        <a href="#">Developers</a>
        <a href="#">Guide</a>
        <a href="#">Configuratión</a>
        <a href="#">© 2022 Twitter, Inc</a>
    </footer>

    <script src="/script/script.js"></script>
</body>

</html>